<!DOCTYPE html>
<html lang="ja" ng-app="battlefieldApp" id="top">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="granblue fantasy 古戦場グラフ">
		<meta name="format-detection" content="telephone=no,address=no,email=no">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>granblue fantasy 古戦場集計</title>
		
		<style>@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);</style>
		
		<link rel="stylesheet" href="bower_components/bootstrap/css/bootstrap.min.css" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="granbluefantasy/common/style.css"/>
		<link rel="stylesheet" href="granbluefantasy/battlefield/style.css"/>
		<link rel="stylesheet" href="bower_components/nvd3/css/nv.d3.min.css" />
		<link rel="stylesheet" href="bower_components/timepicker/css/bootstrap-timepicker.min.css" />
		<link rel="stylesheet" href="bower_components/datepicker/css/bootstrap-datepicker3.min.css" />
		
		<!-- jquery, moment, and angular have to get included before fullcalendar -->
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="bower_components/nvd3/js/d3.min.3.5.2.js"></script>
		<script type="text/javascript" src="bower_components/nvd3/js/nv.d3.js"></script>
		<script type="text/javascript" src="bower_components/timepicker/js/bootstrap-timepicker.min.js"></script>
		<script type="text/javascript" src="bower_components/datepicker/js/bootstrap-datepicker.min.js"></script>
		<script type="text/javascript" src="bower_components/datepicker/js/bootstrap-datepicker.lang.min.js"></script>
		
		
		<script type="text/javascript" src="granbluefantasy/common/granbluefantasy.js"></script>
		<script type="text/javascript" src="granbluefantasy/battlefield/schedule.js"></script>
		<script type="text/javascript" src="granbluefantasy/battlefield/battlefield_controller.js"></script>
		
		<script type="text/ng-template" id="loading.html">
			
		</script>
		
		<script type="text/ng-template" id="configRanking.html">
			<div class="modal-header">
				<h3 class="modal-title">個人ランキング（トータルスコア）設定</h3>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row battlefield-config-row">
						<div class="col-sm-2">
							<i class="glyphicon glyphicon-time"></i>
							<abbr title="グラフに表示するデータの時間。" class="initialism calendar-config-group-label">時間</abbr>
						</div>
						<div class="col-sm-5">
							<div class="form-inline">
								<input ng-datepicker class="form-control datepicker input-sm" ng-model="rankingStartDate" />
								<input ng-timepicker class="form-control timepicker input-sm" ng-model="rankingStartDatetime" />
								<label>～</label>
								<input ng-datepicker class="form-control datepicker input-sm" ng-model="rankingEndDate" />
								<input ng-timepicker class="form-control timepicker input-sm" ng-model="rankingEndDatetime" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="ok()">反映する</button>
				<button class="btn btn-default" type="button" ng-click="cancel()">キャンセル</button>
			</div>
		</script>
		
		<script type="text/ng-template" id="configQualifying.html">
			<div class="modal-header">
				<h3 class="modal-title">予選（トータルスコア）設定</h3>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row battlefield-config-row">
						<div class="col-sm-2">
							<i class="glyphicon glyphicon-time"></i>
							<abbr title="グラフに表示するデータの時間。" class="initialism calendar-config-group-label">時間</abbr>
						</div>
						<div class="col-sm-5">
							<div class="form-inline">
								<input ng-datepicker class="form-control datepicker input-sm" ng-model="qualifyingStartDate" />
								<input ng-timepicker class="form-control timepicker input-sm" ng-model="qualifyingStartDatetime" />
								<label>～</label>
								<input ng-datepicker class="form-control datepicker input-sm" ng-model="qualifyingEndDate" />
								<input ng-timepicker class="form-control timepicker input-sm" ng-model="qualifyingEndDatetime" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="ok()">反映する</button>
				<button class="btn btn-default" type="button" ng-click="cancel()">キャンセル</button>
			</div>
		</script>
		
		<script type="text/ng-template" id="configBookmaker.html">
			<div class="modal-header">
				<h3 class="modal-title">ブックメーカー（日別）設定</h3>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row battlefield-config-row">
						<div class="col-sm-2">
							<i class="glyphicon glyphicon-sort-by-attributes"></i>
							<abbr title="グラフに表示するデータの種別。スコアはスコア合計をグラフに、速度は20分前からのスコア増加量をグラフにする。" class="initialism calendar-config-group-label">データ種別</abbr>
						</div>
						
						<div class="col-sm-5">
							<label class="radio-inline">
								<input type="radio" ng-model="bookmakerGraphType" value="total" />スコア
							</label>
							<label class="radio-inline">
								<input type="radio" ng-model="bookmakerGraphType" value="acceleration" />速度
							</label>
						</div>
					</div>
					<div class="row battlefield-config-row">
						<div class="col-sm-2">
							<i class="glyphicon glyphicon-time"></i>
							<abbr title="グラフに表示するデータの時間。07:00～00:00（翌日）まで設定可能。" class="initialism calendar-config-group-label">時間</abbr>
						</div>
						<div class="col-sm-5">
							<div class="form-inline">
								<input ng-timepicker class="form-control timepicker input-sm" ng-model="bookmakerStartDate" />
								<label>～</label>
								<input ng-timepicker class="form-control timepicker input-sm" ng-model="bookmakerEndDate" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="ok()">反映する</button>
				<button class="btn btn-default" type="button" ng-click="cancel()">キャンセル</button>
			</div>
		</script>
		
		
		<script type="text/ng-template" id="configBookmakerArea.html">
			<div class="modal-header">
				<h3 class="modal-title">ブックメーカー（エリア別）設定</h3>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row battlefield-config-row">
						<div class="col-sm-2">
							<i class="glyphicon glyphicon-sort-by-attributes"></i>
							<abbr title="グラフに表示するデータの種別。スコアはスコア合計をグラフに、速度は20分前からのスコア増加量をグラフにする。" class="initialism calendar-config-group-label">データ種別</abbr>
						</div>
						
						<div class="col-sm-5">
							<label class="radio-inline">
								<input type="radio" ng-model="bookmakerAreaGraphType" value="total" />スコア
							</label>
							<label class="radio-inline">
								<input type="radio" ng-model="bookmakerAreaGraphType" value="acceleration" />速度
							</label>
						</div>
					</div>
					<div class="row battlefield-config-row">
						<div class="col-sm-2">
							<i class="glyphicon glyphicon-time"></i>
							<abbr title="グラフに表示するデータの時間。07:00～00:00（翌日）まで設定可能。" class="initialism calendar-config-group-label">時間</abbr>
						</div>
						<div class="col-sm-5">
							<div class="form-inline">
								<input ng-timepicker class="form-control timepicker input-sm" ng-model="bookmakerAreaStartDate" />
								<label>～</label>
								<input ng-timepicker class="form-control timepicker input-sm" ng-model="bookmakerAreaEndDate" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="ok()">反映する</button>
				<button class="btn btn-default" type="button" ng-click="cancel()">キャンセル</button>
			</div>
		</script>
	</head>
	
	<body>
		<div id="root" ng-controller="currentController as controller" data-ng-init="init()" class="graph_content">
			<div class="graph_header">
				<div>
					<a class="header" href="./index.html">TOP</a>
				</div>
				<div>
					<!-- months -->
					<span>
						<select ng-model="selectedBattlefieldSchedule" ng-options="e as e.name for e in battilefieldSchedules"></select>
					</span>
					<!-- graph type -->
					<span>
						<select ng-model="selectedBattlefieldType" ng-options="e as e.name for e in battilefieldTypes" ng-change="selectedAlgorith();"></select>
					</span>
					<!-- rounds or algorithm -->
					<span>
						<select ng-model="selectedBattlefieldAlgorithm" ng-options="e as e.name for e in battilefieldAlgorithm"></select>
					</span>
					<button class="btn btn-warning btn-xs" type="button" ng-click="openGraph()">表示</button>
					
					<button class="btn btn-warning btn-xs" type="button" ng-show="visibleQualifying" ng-click="configQualifying()" style="float:right">設定</button>
					<button class="btn btn-warning btn-xs" type="button" ng-show="visibleRanking" ng-click="configRanking()" style="float:right">設定</button>
					<button class="btn btn-warning btn-xs" type="button" ng-show="visibleBookmakerArea" ng-click="configBookmakerArea()" style="float:right">設定</button>
					<button class="btn btn-warning btn-xs" type="button" ng-show="visibleBookmaker" ng-click="configBookmaker()" style="float:right">設定</button>
				</div>
			</div>
			
			<div class="data_panel_main">
				<ul class="nav nav-tabs data_tabs">
					<li class="active"><a href="#data_panel_graph" data-toggle="tab"><i class="glyphicon glyphicon-signal"></i>グラフ</a></li>
					<li><a href="#data_panel_tables" data-toggle="tab"><i class="glyphicon glyphicon-th"></i>データ</a></li>
					<li><a href="#data_panel_search" data-toggle="tab" ng-show="visibleRanking"><i class="glyphicon glyphicon-search"></i>検索</a></li>
				</ul>

				<div class="tab-content data_panel">
					<div class="tab-pane active data_panel_graph" id="data_panel_graph">
						<div id="graph_main" height="100%">
					    	<svg></svg>
						</div>
					</div>
					<div class="tab-pane data_panel_table" id="data_panel_tables">
						
						<!-- bookmaker -->
						<div id="data_panel_table_bookmaker" ng-show="visibleBookmaker">
							<table class="table table-condensed table-hover bookmaker-all table-headerfixed">
								<thead>
									<tr>
										<th width="3%"><abbr title="×（赤色の行）：自動生成されたスコア" class="initialism calendar-config-group-label"><i class="glyphicon glyphicon-remove" /></abbr></th>
										<th width="13%">time</th>
										<th width="11%">east</th>
										<th width="10%"></th>
										<th width="11%">west</th>
										<th width="10%"></th>
										<th width="11%">south</th>
										<th width="10%"></th>
										<th width="11%">north</th>
										<th width="10%"></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="e in bookmakerAllScore.score" ng-class={"danger":e.isFake}>
										<td width="3%"><i class="glyphicon" ng-class={"glyphicon-remove":e.isFake!=0}></i></td>
										<td width="13%" class="small" scope="row">{{e.time}}</td>
										<td width="11%" class="small">{{e.east}}</td>
										<td width="10%" class="small" ng-class={"text-danger":e.east_gap!=0}>{{bookmakerGraphType == "total" ? e.east_gap : e.east_acceleration}}</td>
										<td width="11%" class="small">{{e.west}}</td>
										<td width="10%" class="small" ng-class={"text-danger":e.west_gap!=0}>{{bookmakerGraphType == "total" ? e.west_gap : e.west_acceleration}}</td>
										<td width="11%" class="small">{{e.south}}</td>
										<td width="10%" class="small" ng-class={"text-danger":e.south_gap!=0}>{{bookmakerGraphType == "total" ? e.south_gap : e.south_acceleration}}</td>
										<td width="11%" class="small">{{e.north}}</td>
										<td width="10%" class="small" ng-class={"text-danger":e.north_gap!=0}>{{bookmakerGraphType == "total" ? e.north_gap : e.north_acceleration}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						
						<!-- bookmaker area -->
						<div id="data_panel_table_bookmaker_area" ng-show="visibleBookmakerArea">
							<table class="table table-condensed table-hover bookmaker-area-all table-headerfixed">
								<thead>
									<tr>
										<th width="15%">time</th>
										<th width="17%">1日目</th>
										<th width="17%">2日目</th>
										<th width="17%">3日目</th>
										<th width="17%">4日目</th>
										<th width="17%">5日目</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="e in bookmakerAllScore.round1.score">
										<td width="15%" class="small" scope="row">{{e.time.split(' ')[1]}}</td>
										<td width="17%" class="small">{{bookmakerAllScore.choise(1,$index)}}</td>
										<td width="17%" class="small">{{bookmakerAllScore.choise(2,$index)}}</td>
										<td width="17%" class="small">{{bookmakerAllScore.choise(3,$index)}}</td>
										<td width="17%" class="small">{{bookmakerAllScore.choise(4,$index)}}</td>
										<td width="17%" class="small">{{bookmakerAllScore.choise(5,$index)}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						
						<!-- qualifying -->
						<div id="data_panel_table_qualifying" ng-show="visibleQualifying">
							<table class="table table-condensed table-hover qualifying-all table-headerfixed">
								<thead>
									<tr>
										<th width="16%">time</th>
										<th width="21%">シード120位</th>
										<th width="21%">シード660位</th>
										<th width="21%">予選120位</th>
										<th width="21%">予選3000位</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="e in qualifyingAllScore">
										<td width="16%" class="small" scope="row">{{e.time}}</td>
										<td width="21%" class="small">{{e.seed120}}</td>
										<td width="21%" class="small">{{e.seed660}}</td>
										<td width="21%" class="small">{{e.qualifying120}}</td>
										<td width="21%" class="small">{{e.qualifying3000}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<!-- ranking -->
						<div id="data_panel_table_ranking" ng-show="visibleRanking">
							<table class="table table-condensed table-hover ranking-all table-headerfixed">
								<thead>
									<tr>
										<th width="16%">time</th>
										<th width="28%">1000位</th>
										<th width="28%">3000位</th>
										<th width="28%">20000位</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="e in rankingAllScore">
										<td width="16%" class="small" scope="row">{{e.time}}</td>
										<td width="28%" class="small">{{e.ranking1000}}</td>
										<td width="28%" class="small">{{e.ranking3000}}</td>
										<td width="28%" class="small">{{e.ranking20000}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="tab-pane data_panel_search" id="data_panel_search" ng-show="visibleRanking">
						<div class="ranking_simple_idsearch_area">
							<input type="text" ng-model="rankingSearchSimpleId" />
							<button id="searchSimpleId" class="btn btn-warning btn-xs" data-loading-text="Processing" type="button" ng-show="visibleRanking" ng-click="searchRanking()">ID検索</button>
						</div>
						
						<!-- ranking -->
						<div id="data_panel_table_ranking_all" ng-show="visibleRankingSearch">
							<table class="table table-condensed table-hover ranking-all table-headerfixed">
								<thead>
									<tr>
										<th width="19%">ID</th>
										<th width="19%">名前</th>
										<th width="19%">順位</th>
										<th width="19%">スコア</th>
										<th width="19%">ランク</th>
										<th width="5%"></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="e in rankingSearchAllScore">
										<td width="19%" class="small" scope="row">{{e.user_id}}</td>
										<td width="19%" class="small">{{e.name}}</td>
										<td width="19%" class="small">{{e.rank}}</td>
										<td width="19%" class="small">{{e.point}}</td>
										<td width="19%" class="small">{{e.level}}</td>
										<td width="5%" class="small"><a target="_blank" href="http://gbf.game.mbga.jp/#profile/{{e.user_id}}"><i class="glyphicon glyphicon-share-alt"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>