<!DOCTYPE html>
<html lang="ja" ng-app="battlefieldApp" id="top">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="granblue fantasy 古戦場グラフ">
		<meta name="format-detection" content="telephone=no,address=no,email=no">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>granblue fantasy カレンダー</title>
		
		<style>@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);</style>
		
		<link rel="stylesheet" href="bower_components/bootstrap/css/bootstrap.min.css" />

		<link rel="stylesheet" href="granbluefantasy/common/style.css"/>
		<link rel="stylesheet" href="granbluefantasy/battlefield/style.css"/>
		<link rel="stylesheet" href="bower_components/nvd3/css/nv.d3.min.css" />
		
		<!-- jquery, moment, and angular have to get included before fullcalendar -->
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="bower_components/nvd3/js/d3.min.3.5.2.js"></script>
		<script type="text/javascript" src="bower_components/nvd3/js/nv.d3.js"></script>
		
		
		<script type="text/javascript" src="granbluefantasy/common/granbluefantasy.js"></script>
		<script type="text/javascript" src="granbluefantasy/battlefield/schedule.js"></script>
		<script type="text/javascript" src="granbluefantasy/battlefield/battlefield_controller.js"></script>
	</head>
	
	<body>
		<div id="root" ng-controller="currentController as controller" data-ng-init="init()" class="graph_content">
			<div class="graph_header">
				<div>
					<a class="header" href="./index.html">TOP</a>
				</div>
				<div>
					<!-- months -->
					<span>
						<select ng-model="selectedBattlefieldSchedule" ng-options="e as e.name for e in battilefieldSchedules"></select>
					</span>
					<!-- graph type -->
					<span>
						<select ng-model="selectedBattlefieldType" ng-options="e as e.name for e in battilefieldTypes" ng-change="selectedAlgorith();"></select>
					</span>
					<!-- rounds or algorithm -->
					<span>
						<select ng-model="selectedBattlefieldAlgorithm" ng-options="e as e.name for e in battilefieldAlgorithm"></select>
					</span>
					<button class="btn btn-warning btn-xs" type="button" ng-click="openGraph()">表示</button>
				</div>
			</div>
			
			<div class="data_panel_main">
				<ul class="nav nav-tabs data_tabs">
					<li class="active"><a href="#data_panel_graph" data-toggle="tab"><i class="glyphicon glyphicon-signal"></i>グラフ</a></li>
					<li><a href="#data_panel_tables" data-toggle="tab"><i class="glyphicon glyphicon-th"></i>詳細</a></li>
				</ul>

				<div class="tab-content data_panel">
					<div class="tab-pane active data_panel_graph" id="data_panel_graph">
						<div id="graph_main" height="100%">
					    	<svg></svg>
						</div>
					</div>
					<div class="tab-pane data_panel_table" id="data_panel_tables">
						<div id="data_panel_table_bookmaker" ng-show="visibleTableBookmaker">
							<table class="table table-condensed table-hover bookmaker-all table-headerfixed">
								<thead>
									<tr>
										<th width="3%"><i class="glyphicon glyphicon-remove" /></th>
										<th width="13%">time</th>
										<th width="11%">east</th>
										<th width="10%"></th>
										<th width="11%">west</th>
										<th width="10%"></th>
										<th width="11%">south</th>
										<th width="10%"></th>
										<th width="11%">north</th>
										<th width="10%"></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="e in bookmakerAllScore.score" ng-class={"danger":e.isFake}>
										<td width="3%"><i class="glyphicon" ng-class={"glyphicon-remove":e.isFake!=0}></i></td>
										<td width="13%" class="small" scope="row">{{e.time}}</td>
										<td width="11%" class="small">{{e.east}}</td>
										<td width="10%" class="small" ng-class={"text-danger":e.east_gap!=0}>{{e.east_gap}}</td>
										<td width="11%" class="small">{{e.west}}</td>
										<td width="10%" class="small" ng-class={"text-danger":e.west_gap!=0}>{{e.west_gap}}</td>
										<td width="11%" class="small">{{e.south}}</td>
										<td width="10%" class="small" ng-class={"text-danger":e.south_gap!=0}>{{e.south_gap}}</td>
										<td width="11%" class="small">{{e.north}}</td>
										<td width="10%" class="small" ng-class={"text-danger":e.north_gap!=0}>{{e.north_gap}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>