<!DOCTYPE html>
<html lang="ja" ng-app="allCalendarApp" id="top">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="granblue fantasy イベントカレンダー">
		<meta name="format-detection" content="telephone=no,address=no,email=no">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>granblue fantasy カレンダー</title>
		
		<style>@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);</style>
		
		<link rel="stylesheet" href="bower_components/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>

		<link rel="stylesheet" href="granbluefantasy/common/style.css"/>
		<link rel="stylesheet" href="granbluefantasy/calendar/style.css"/>
		
		<!-- jquery, moment, and angular have to get included before fullcalendar -->
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-calendar/calendar.js"></script>
		<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
		<script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
		<script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
		
		
		<script type="text/javascript" src="granbluefantasy/common/granbluefantasy.js"></script>
		<script type="text/javascript" src="granbluefantasy/calendar/calendar.js"></script>
		<script type="text/javascript" src="granbluefantasy/calendar/calendar_controller.js"></script>
		
		<script type="text/ng-template" id="modal.html">
			<div class="modal-header">
				<h3 class="modal-title">カレンダー表示設定</h3>
			</div>
			<div class="modal-body">
				<div class="container">
					<!-- Subjugation -->
					<div class="row calendar-config-row">
						<div class="col-sm-1">
							<abbr title="3日に1度切り替わる討滅戦。表示したくない場合は表示するのチェックを外す。" class="initialism calendar-config-group-label">討滅戦</abbr>
						</div>
						<div class="col-sm-10">
							<input type="checkbox" ng-checked="subjugationDisplay" ng-click="checkSubjugation($event)" /><label class="form-checkbox-label">表示する</label>
							<span class="display-sub-groups" ng-show="subjugationDisplay">
								<!-- fire -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'subjugationFire')" ng-checked="subjugationFire" />
									<label class="form-checkbox-label">イフリート</label>
								</span>
								<!-- water -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'subjugationWater')" ng-checked="subjugationWater" />
									<label class="form-checkbox-label">コキュートス</label>
								</span>
								<!-- earth -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'subjugationEarth')" ng-checked="subjugationEarth" />
									<label class="form-checkbox-label">ウォフマナフ</label>
								</span>
								<!-- wind -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'subjugationWind')" ng-checked="subjugationWind" />
									<label class="form-checkbox-label">サジタリウス</label>
								</span>
								<!-- shine -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'subjugationShine')" ng-checked="subjugationShine" />
									<label class="form-checkbox-label">コロゥ</label>
								</span>
								<!-- darkness -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'subjugationDarkness')" ng-checked="subjugationDarkness" />
									<label class="form-checkbox-label">ディアボロス</label>
								</span>
							</span>
						</div>
					</div>
					
					<!-- ordeal -->
					<div class="row calendar-config-row">
						<div class="col-sm-1">
							<abbr title="2日に1度切り替わる属性別試練。表示したくない場合は表示するのチェックを外す。" class="initialism calendar-config-group-label">属性試練</abbr>
						</div>
						<div class="col-sm-10">
							<input type="checkbox" ng-checked="ordealDisplay" ng-click="checkOrdeal($event)"/><label class="form-checkbox-label">表示する</label>
							<span class="display-sub-groups" ng-show="ordealDisplay">
								<!-- fire -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'ordealFire')" ng-checked="ordealFire" />
									<label class="form-checkbox-label">業火の試練</label>
								</span>
								<!-- water -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'ordealWater')" ng-checked="ordealWater" />
									<label class="form-checkbox-label">玉水の試練</label>
								</span>
								<!-- earth -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'ordealEarth')" ng-checked="ordealEarth" />
									<label class="form-checkbox-label">荒土の試練</label>
								</span>
								<!-- wind -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'ordealWind')" ng-checked="ordealWind" />
									<label class="form-checkbox-label">狂風の試練</label>
								</span>
								<!-- shine -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'ordealShine')" ng-checked="ordealShine" />
									<label class="form-checkbox-label">極光の試練</label>
								</span>
								<!-- darkness -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'ordealDarkness')" ng-checked="ordealDarkness" />
									<label class="form-checkbox-label">幽闇の試練</label>
								</span>
							</span>
						</div>
					</div>
					
					<!-- events -->
					<div class="row calendar-config-row">
						<div class="col-sm-1">
							<abbr title="各種イベント。表示したくない場合は表示するのチェックを外す。" class="initialism calendar-config-group-label">イベント</abbr>
						</div>
						<div class="col-sm-10">
							<input type="checkbox" ng-checked="eventsDisplay" ng-model="eventsDisplayModel" ng-click="checkEvents($event)"/><label class="form-checkbox-label">表示する</label>
							<span class="display-sub-groups" ng-show="eventsDisplay">
								<!-- hiroic battle fields -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'eventsHiroicBattleFields')" ng-checked="eventsHiroicBattleFields" />
									<label class="form-checkbox-label">団イベ</label>
								</span>
								<!-- sisyou -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'eventsSisyo')" ng-checked="eventsSisyo" />
									<label class="form-checkbox-label">四象</label>
								</span>
								<!-- story_events -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'eventsStory')" ng-checked="eventsStory" />
									<label class="form-checkbox-label">シナリオイベント</label>
								</span>
								<!-- subjugation -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'eventsSubjugation')" ng-checked="eventsSubjugation" />
									<label class="form-checkbox-label">討滅</label>
								</span>
								<!-- collaboration -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'eventsCollaboration')" ng-checked="eventsCollaboration" />
									<label class="form-checkbox-label">コラボ</label>
								</span>
								<!-- arcarum -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'eventsCollaboration')" ng-checked="eventsArcarum" />
									<label class="form-checkbox-label">アーカルムの転生</label>
								</span>
								<!-- other -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'eventsOther')" ng-checked="eventsOther" />
									<label class="form-checkbox-label">その他</label>
								</span>
							</span>
						</div>
					</div>
					<!-- system -->
					<div class="row calendar-config-row">
						<div class="col-sm-1">
							<abbr title="半額やメンテナンス情報。表示したくない場合は表示するのチェックを外す。" class="initialism calendar-config-group-label">その他</abbr>
						</div>
						<div class="col-sm-10">
							<input type="checkbox" ng-checked="systemDisplay" ng-model="systemDisplayModel" ng-click="checkSystem($event)"/><label class="form-checkbox-label">表示する</label>
							<span class="display-sub-groups" ng-show="systemDisplay">
								<!-- discount -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'systemDiscount')" ng-checked="systemDiscount" />
									<label class="form-checkbox-label">APBP半額</label>
								</span>
								<!-- maintenance -->
								<span class="display-sub-groups-detail">
									<input type="checkbox" ng-click="toggleChecks($event,'systemMaintenance')" ng-checked="systemMaintenance" />
									<label class="form-checkbox-label">長期メンテナンス</label>
								</span
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="ok()">反映する</button>
				<button class="btn btn-default" type="button" ng-click="cancel()">キャンセル</button>
			</div>
		</script>		
	</head>
	
	<body>
		<div id="root" class="main" ng-controller="currentController as controller" ng-init="init()">
			<div>
				<a class="header" href="./index.html">TOP</a>
			</div>
			<div>
				<button class="btn btn-warning btn-xs" type="button" ng-click="openModal()">設定</button>
				
			</div>
			<div id="calendar" ng-calendar />
		</div>
	</body>
</html>
