@charset "UTF-8";

/*
	http://www.colorschemer.com/online.html
	
*/


/* 四象 */
.sisyou{
	background-color:#009AFF !important;
	color:#FFFFFF !important;
	font-size:11px !important;
	cursor:pointer;
}

/* 団イベ */
/* アーカルムの転生 */
.historic_battlefield,
.arcarum
{
	background-color:#FFE300 !important;
	color:#7F7B26 !important;
	font-size:11px !important;
	cursor:pointer;
}

/* ストーリーイベント */
/* 復刻ストーリーイベント */
/* その他 */
/* 討滅 */
.story_events, 
.story_events_reprint,
.subjugation,
.subjugation_reprint,
.other
{
	background-color:#00E824 !important;
	color:#FFFFFF !important;
	font-size:11px !important;
	cursor:pointer;
}

/* コラボ */
/* 復刻コラボ */
.collaboration, 
.collaboration_reprint{
	background-color:#8B00E8 !important;
	color:#FFFFFF !important;
	font-size:11px !important;
	cursor:pointer;
}

.maintenance,
.discount{
	background-color:#FF0000 !important;
	font-size:11px !important;
}

@charset "UTF-8";

.element_morning{
	background-color:#FFFFFF !important;
	color:#666633 !important;
	font-size:11px !important;
}

.element_noon{
	background-color:#FFFFFF !important;
	color:#666633 !important;
	font-size:11px !important;
}

.element_night{
	background-color:#FFFFFF !important;
	color:#666633 !important;
	font-size:11px !important;
}

.element_fire{
	background-color:#FF958F !important;
	color:#7F0C00 !important;
	font-size:11px !important;
}
.element_water{
	background-color:#8FABFF !important;
	color:#000C7F !important;
	font-size:11px !important;
}
.element_earth{
	background-color:#FFE18F !important;
	color:#7F6200 !important;
	font-size:11px !important;
}
.element_wind{
	background-color:#8FFF9E !important;
	color:#007F0F !important;
	font-size:11px !important;
}
.element_shine{
	background-color:#FFFD8F !important;
	color:#7F7F03 !important;
	font-size:11px !important;
}
.element_darkness{
	background-color:#E68FFF !important;
	color:#6C007F !important;
	font-size:11px !important;
}


.subjugation_fire{
	background-color:#7F1B15 !important;
	font-size:11px !important;
}
.subjugation_water{
	background-color:#273E7F !important;
	font-size:11px !important;
}
.subjugation_earth{
	background-color:#7F651E !important;
	font-size:11px !important;
}
.subjugation_wind{
	background-color:#1E7F2B !important;
	font-size:11px !important;
}
.subjugation_shine{
	background-color:#7F7D19 !important;
	font-size:11px !important;
}
.subjugation_darkness{
	background-color:#6C297F !important;
	font-size:11px !important;
}